*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.top-head {
    background-color: goldenrod;
    padding-bottom: 5%;
    width: 100%;
    border: solid 2px;
}

.welcome {
    font-weight: bold;
    color: rgb(245, 244, 244);
    text-align: end;
    margin: 2%;
    
}



.services {
    color: white;
    text-align: center;
}
.logo {
    width: 50px;
    border-radius: 100%;
    margin: 2%;
}

input {
    padding: 2%;
    margin: 2%;
}


.welcome-page{
    background-color: white;
}



nav {
text-align: end;
margin: 2%;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 2%;
    
    
}

.front-image {
    opacity: 0.5;
    height: 600px;
}

span {
    color: gold;
}

h1,
h3 {
    font-weight: bold;
    position: relative;
    left: 8px;
}

input {
    border: 20px;
}


/* MEdia query */


/* overlay text on images start here */


/* Container holding the image and the text */
.containerr {
    position: relative;
    text-align: center;
    color: white;

}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}



/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* overlay text on images end here */